<!DOCTYPE HTML>
<html>
<head>
    {% include header.html %}
</head>
<body class="is-preload">

    {{ content }}
    
    {% include footer.html %}
   
<style>
/*添加悬浮水印*/
.wrap-img {
    position: relative;
}
.wrap-img::after {
    content: "Shot by Justyou 柚";
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: rgba(255,255,255,0.32);
    font-size: 14px;
    pointer-events: none;
}
</style>

<script>
// 给所有图片自动套水印层级
window.onload = function(){
    let imgs = document.querySelectorAll("img");
    imgs.forEach(img=>{
        img.classList.add("wrap-img");
    })
}


</body>
</html>
