<!DOCTYPE HTML>
<html>
<head>
    {% include header.html %}
</head>
<body class="is-preload">

    {{ content }}
    
    {% include footer.html %}
   
<style>
/* 全局页面水印 全覆盖 适配你的画廊模板 */
body {
    position: relative;
}
body::after {
    content: "shot by Justyou";
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgba(255,255,255,0.35);
    font-size: 15px;
    pointer-events: none;
    z-index: 9999;
}
</style>

<!-- 禁止右键下载 -->
<script>
document.oncontextmenu = ()=>false;
document.ondragstart = ()=>false;
document.onselectstart = ()=>false;
</script>


</body>
</html>
